:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 480;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);

}

.woman {
    text-align: center;

}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin-left: 34px;
}

.header__nav {
    display: none;
}

.header__button {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
    margin: 0 0 52px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink)
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color);

}

.sales__item--woman {
    background-image: url(../img/woman5-photo.png);
}

.sales__item--man {
    background-image: url(../img/man-sales.png);
}

.sales__item--kids {
    background-image: url(../img/kids-sales.png);
}

.sales__item--shoes {
    background-image: url(../img/shoes-sales.png);
    margin-top: 20px;
    background-repeat: no-repeat;
}

.sales__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 105px;
}

.sales__text-words {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sales__item--shoes {
    width: 100%;
    min-height: 110px;
}

.catalog__list {
    display: flex;
    justify-content: space-around;

}

.catalog__menu {
    display: flex;
    justify-content: space-around;
}

.head__items {
    margin-top: 40px;
    margin-bottom: 40px;

}

.sales__item--shoes {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 65px;
}

.sales__text-words-shoes {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.catalog__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    text-align: center;
    margin-right: 70px;
}

.catalog-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
    text-align: center;
}

.catalog__photo {
    width: 360px;
    height: 591px;
    left: 14.38%;
    right: 63.12%;
    top: 41.2%;
    bottom: 43.63%;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.catalog__title-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 26px;
}

.catalog__title-text-1 {
    margin-top: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
}

.catalog__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 40px;
}

.catalog__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__title {
    margin-left: 65px;
}

.footer__services-text {
    display: flex;
    justify-content: space-around;
}

.footer__delivery {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    text-align: center;
}

.footer__text {
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
    margin-top: 17px;
}

.footer__services {
    left: 0%;
    right: 0%;
    top: 77.32%;
    bottom: 13.77%;
    background: #222224;
    height: 400px;
}

.footer__img {
    margin-top: 103px;
}

.footer__sales {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    text-align: center;
    margin-top: 28px;
}

.footer__Quality {
    font-style: normal;
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 28px;
    text-align: center;
    margin-top: 25px;
}

.delivery {
    text-align: center;
}

.sales__img {
    margin-top: 104px;
}

.sales {
    text-align: center;
}

.corona__img {
    margin-top: 103px;
}

.Quality {
    text-align: center;
}

.operator-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    margin-top: 50px;

}

.registration {
    background-image: url(../img/photo_subscribe.png);
    height: 450px;
    display: flex;
    justify-content: space-around;
}

.operator__img {
    margin-top: 110px;
}

.registration-words {
    margin-top: 150px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.operator__head {
    text-align: center;
}

.registration-head {
    text-align: center;
}

.registration-email {
    left: 57.31%;
    right: 22.53%;
    top: 54.24%;
    bottom: 34.82%;
    background: #E1E1E1;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    height: 50px;
    border: 0px solid;
    width: 300px;
    margin-top: 40px;

}

.button {
    left: 73.31%;
    right: 20.44%;
    top: 54.24%;
    bottom: 34.82%;
    background: #F16D7F;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 0px solid;
    height: 50px;
    width: 100px;
}

.contact {
    left: 0%;
    right: 0%;
    top: 97.94%;
    bottom: 0%;
    background: #222224;
    height: 100px;
    display: flex;
    justify-content: space-around;
}

.brand {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    margin-top: 40px;
}

.brands {
    height: 50px;
    width: 100px;
    margin-top: 30px;
}

.twitter {
    width: 50px;
    height: 50px;
    margin-left: 10px;
}

.section {
    left: 0%;
    right: 0%;
    top: 5.26%;
    bottom: 84.35%;
    background: #F8F3F4;
    min-height: 148px;
}

.main__registration {
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    padding-top: 59px;
    padding-left: 259px;
}

.name {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    margin-bottom: 20px;
    margin-top: 103px;
}

.name__regist {
    left: 14.38%;
    right: 63.12%;
    top: 22.88%;
    bottom: 73.96%;
    background: #FFFFFF;
}

.first {
    left: 14.38%;
    right: 63.12%;
    top: 22.88%;
    bottom: 73.96%;
    background: #FFFFFF;
    height: 45px;
    width: 360px;
    margin-bottom: 21px;
}

.last {
    left: 14.38%;
    right: 63.12%;
    top: 22.88%;
    bottom: 73.96%;
    background: #FFFFFF;
    height: 45px;
    width: 360px;
}

.radio {
    display: flex;
}

.female {
    margin-left: 20px;
    margin-top: 34px;
}

.male {
    margin-top: 34px;
}

.login {
    margin-top: 35px;
    margin-bottom: 20px;
}

.email {
    left: 14.38%;
    right: 63.12%;
    top: 22.88%;
    bottom: 73.96%;
    background: #FFFFFF;
    height: 45px;
    width: 360px;
    margin-bottom: 21px;
}

.password {
    left: 14.38%;
    right: 63.12%;
    top: 22.88%;
    bottom: 73.96%;
    background: #FFFFFF;
    height: 45px;
    width: 360px;
}

.main__text {
    margin-top: 15px;
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
}

.join {
    left: 14.38%;
    right: 75.19%;
    top: 52.77%;
    bottom: 43.72%;
    background: #F16D7F;
    width: 172px;
    height: 60px;
    border: 0px solid #000;
    margin-top: 39px;
}

.first__text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    padding-bottom: 22px;
}

.second__text {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
}

.sales__main {
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #000000;

}

.main__marks {
    display: flex;
    margin-top: 21px;
}

.mark {
    padding-right: 10px;
}

.regist {
    display: flex;
    justify-content: space-around;
}

.yclygi {
    margin-top: 124px;
}

.join {
    margin-bottom: 30px;
}