:root {
    --black: #222222;
    --light-pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --sales-bkg-color: #4F4745;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 17px;
    font-weight: 480;
    color: var(--black);
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    min-height: 75px;
    align-items: center;
}

.header__list {
    display: flex;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__link {
    margin-left: 34px;
}

.header__nav {
    display: none;
}

.header__button {
    border: none;
    background-color: transparent;
}

.brand {
    display: flex;
    margin: 0 0 52px 0;
}

.brand__title-wrp {
    flex-grow: 1;
    padding: 0 0 0 92px;
    display: flex;
    align-items: center;
    background-color: var(--light-pink);
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink)
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    background-color: var(--sales-bkg-color);

}

.sales__item--woman {
    background-image: url(../img/woman5-photo.png);
}

.sales__item--man {
    background-image: url(../img/man-sales.png);
}

.sales__item--kids {
    background-image: url(../img/kids-sales.png);
}

.sales__item--shoes {
    background-image: url(../img/shoes-sales.png);
    margin-top: 20px;
    background-repeat: no-repeat;
}

.sales__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 105px;
}

.sales__text-words {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sales__item--shoes {
    width: 100%;
    min-height: 110px;
}

.catalog__list {
    display: flex;
    justify-content: space-around;

}

.catalog__menu {
    display: flex;
    justify-content: space-around;
}

.head__items {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 0 0 770px;
}

.sales__item--shoes {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 65px;
}

.sales__text-words-shoes {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.catalog__title {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.catalog-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.catalog__photo {
    width: 360px;
    height: 591px;
    left: 14.38%;
    right: 63.12%;
    top: 41.2%;
    bottom: 43.63%;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.catalog__title-text {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
    margin-top: 26px;
}

.catalog__title-text-1 {
    margin-top: 40px;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 13px;
}

.catalog__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-bottom: 40px;
}

.catalog__price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.catalog__title {
    margin-left: 65px;
}