.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    width: 360px;
    min-height: 260px;
    background-color: var $sales-bkg-color;

}

.sales__item--woman {
    background-image: url(../img/woman5-photo.png);
}

.sales__item--man {
    background-image: url(../img/man-sales.png);
}

.sales__item--kids {
    background-image: url(../img/kids-sales.png);
}

.sales__item--shoes {
    background-image: url(../img/shoes-sales.png);
    margin-top: 20px;
    background-repeat: no-repeat;
}

.sales__text {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 105px;
}

.sales__text-words {
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.sales__item--shoes {
    width: 100%;
    min-height: 110px;
}